.form {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: stretch;
}

.inp {
    background: rgb(4, 89, 77);
    border-color: rgb(4, 89, 77);
    color: rgba(247, 247, 244, 0.35);
    font-family: 'MaryToddW00-Regular';
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    border-width: 0;
    width: 500px;
    padding: 10px 0 10px 46px;
}

.btn {
    background: rgb(142, 64, 66);
    color: rgb(247, 247, 244);
    font-family: 'MaryToddW00-Black';
    font-size: 19.37px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    width: 120px;
    height: 40px;
}